
<ion-content >
  <ion-grid class="glass-content" >
    <ion-row>
      <div id="div-fondo" >
        <div>
          <div class="nuevo">
            <form >
              <div class="encuesta">
                <ion-input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.name"  required >nombre </ion-input>
                <br>
              </div>
              <div class="encuesta">
                <ion-input type="text" id="last_name" name="last_name" [(ngModel)]="nuevoUsuario.last_name" required >last_name </ion-input>
                <br>
              </div>
              <div class="encuesta">
                <ion-input type="text" id="correo" name="correo" [(ngModel)]="nuevoUsuario.correo" required >ingrese correo </ion-input>
                <br>
              </div>
              <div class="encuesta">
                <ion-input type="date" id="birthday" name="birthday" [(ngModel)]="nuevoUsuario.birthday" required >birthday </ion-input>
                <br>
              </div>
              <div class="encuesta">
                  <ion-select placeholder="tipo de usuario " type="text" id="type" name="type" [(ngModel)]="nuevoUsuario.type" required >
                    <div slot="label">Tipo de usuario<ion-text color="danger">(Requerido)</ion-text></div>
                    <ion-select-option value="Pasajero">Pasajero</ion-select-option>
                    <ion-select-option value="Conductor">Conductor</ion-select-option>
                  </ion-select>
                <br>
              </div>
              <div class="encuesta">
                <ion-input type="username" id="username" name="username" [(ngModel)]="nuevoUsuario.username" required >username </ion-input>
                <br>
              </div>
              <div class="encuesta">
                <ion-input type="password" id="password" name="password" [(ngModel)]="nuevoUsuario.password" required >password </ion-input>
                <br>
              </div>

            </form>
          </div>
        </div>
        <div>
          <!--
            Navigación con una función.
          -->
          <ion-button expand="block" color="dark" (click)="volverinicio()"  >
            volver inicio
          </ion-button>
          <ion-button expand="block" color="dark" (click)="agregarUsuario()"  >
            Agregar Nuevo usuario
          </ion-button>
          
     
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
