.md body{
  --ion-background-color: none ;
}

capacitor-google-map {
    display: inline-block;
    width: 875px;
    height: 400px;
  }
  ion-content {
    --background: none;
    --ion-background-color: none;
  }
  ion-header{
    --background: rgb(226, 206, 206)  ;
  }
  body {
    --ion-background-color: none;
}
.selected{
  --background: none;
  --ion-background-color: none;
}
