capacitor-google-map {
    display: inline-block;
    width: 875px;
    height: 400px;
  }
  ion-content {
    --background: none;
  }
  ion-header{
    --background: rgb(226, 206, 206)  ;
  }
  .md body {
    --ion-background-color: none;
}
