<ion-header >
  <ion-toolbar>
    <ion-button (click)="volverinicio()" color="light"  shape="round">
      Volver
    </ion-button>
    <ion-title>Registro de hora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header class="d" >
      <ion-card *ngFor = "let viaje of listViaje" >
        <ion-card-content [ngClass]="{'selected': viaje.id_conductor !== null, 'red' : viaje.id_conductor === null, }" >
          <ion-list lines="none">
            <ion-item >
              <ion-label>numero de registro </ion-label>
              <ion-label slot="end">{{viaje.id}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>tipo de auto </ion-label>
              <ion-label slot="end">{{viaje.destino}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Motivo de viaje </ion-label>
              <ion-label slot="end">{{viaje.origen}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>dia de hora </ion-label>
              <ion-label slot="end" >{{viaje.metodopago}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>mecanico asigando  </ion-label>
              <ion-label slot="end"  >{{viaje.id_conductor}}</ion-label>
            </ion-item>
            
            
            <ion-button (click)="deleteViaje(viaje.id)" color="light"  shape="round">
              Borrar Viaje
            </ion-button>
          </ion-list>
        </ion-card-content>
      </ion-card>
  </ion-header>
</ion-content>
